@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.weathhead{
    text-align: center;
    font-size: 25px;
    font-family: Muli;
    margin-top: 8px;
}

.b1{
    margin-left: 14px;
    border: none;
    font-family: Muli;
    border-radius: 4px;
    padding: 4px 14px;
}


.form{
    margin-left: 14px;
    font-family: Muli;
}
.form>input{
    border: none;
    font-family: Muli;
}

.bttn{
    margin-left: 14px;
    border: none;
    font-family: Muli;
    border-radius: 4px;
    padding: 4px 14px
}

.winfo{
    margin-left: 14px;
    font-size: 25px;
    font-family: Muli;
}

.Weath{
    margin-left: 14px;
    font-size: 18px;
    font-family: Muli;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner (arrow controls) in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}